<div class="content">
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
  <div class="spacer blue"></div>
</div>
